// $navbar-height: 6rem;
// $navbar-item-img-max-height: 10rem;

// $navbar-background-color: rgb(81, 194, 231);

// $navbar-item-color: white;

// $navbar-item-hover-color: gold;

// $navbar-item-hover-background-color: rgb(81, 194, 231);

// $navbar-item-active-color: darkgrey;


// @import "~bulma/bulma.sass";

#fav-checkbox{
  margin-left: 5px;
}

// .productsIndex{
//   background: url("../../styles/clouds-sharpened.png");
// }

#products-list-controls{
  border-color: rgb(54, 54, 54);
  border-style: solid;
  border-width: 2px;
}